.box-top
	%h3 What is dokspot?

	%p dokspot is a cloud application that lets companies manage and distribute their documentation online.
	%p Our current focus allows medical device manufacturers to deliver digital instructions to their customers in a simple and secure manner.

.box

	%h3 Our philosophy

	%h4 Manufacturer Productivity
	%p Simplification is at the core of everything we do.

	%h4 Customer Experience
	%p Our workflow and experience is designed to be straight forward.

	%h4 Team Spirit
	%p We do the utmost and work with the best people to provide you with the best service.