.container-fluid.business-top-box.box-top
	.lead dokspot is a cloud platform that lets companies manage and distribute their documentation online - we enable organisations to switch to digital without software development and maintenance headaches.

.container
	.box
		.lead.text-center Features
		.row
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-cloud.purplecolor.pull-left
				%h3 &nbsp; Robust
				%p.pull-left built and tested for high availability to ensure that your instructions are available when they are required.
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-ok.purplecolor.pull-left
				%h3 &nbsp; Compliant
				%p.pull-left compliant with Commission Regulation 207/2012 enabling Medical Device Manufacturers to go digital.
		.row
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-cog.purplecolor.pull-left
				%h3 &nbsp; Controlled
				%p.pull-left upload, release, and archive instructions in a simple and controlled process.
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-filter.purplecolor.pull-left
				%h3 &nbsp; Simple
				%p.pull-left customers find the right information quickly through the use of dokspot codes.
		.row
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-comment.purplecolor.pull-left
				%h3 &nbsp; Notifications
				%p.pull-left provide customers with product alerts visible through the dokspot notification service.
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-map-marker.purplecolor.pull-left
				%h3 &nbsp; Contact Point
				%p.pull-left allow customers to contact manufacturers to discuss product specific questions.
		.row
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-shopping-cart.purplecolor.pull-left
				%h3 &nbsp; Orders
				%p.pull-left customers can order a paper copy of instructions through the order management service.
			.col-sm-6.col-xs-12
				%h2.glyphicon.glyphicon-font.purplecolor.pull-left
				%h3 &nbsp; Languages
				%p.pull-left help your customers by making instructions available in their preferred language.