.box-top.lead.h3 dokspot is a cloud platform that lets companies manage and distribute their documentation online - we enable organisations to switch to digital without software development and maintenance headaches.

.box
	.h3 benefits
	.row.text-center.lead
		.col-sm-4
			%h1.glyphicon.glyphicon-euro.purplecolor
			%h4 save costs
			improve your bottom line by going digital
		.col-sm-4
			%h1.glyphicon.glyphicon-transfer.purplecolor
			%h4 be efficient
			refine your processes and boost productivity
		.col-sm-4
			%h1.glyphicon.glyphicon-star.purplecolor
			%h4 help clients
			enhance your customers experience

.box
	.h3 features
	.row.text-center.lead
		.col-sm-6
			%h1.glyphicon.glyphicon-cloud.purplecolor
			%h4 robust
			built and tested for high availability to ensure that your instructions are available when they are required.
		.col-sm-6
			%h1.glyphicon.glyphicon-ok.purplecolor
			%h4 compliant
			compliant with Commission Regulation 207/2012 enabling Medical Device Manufacturers to go digital.
		.col-sm-6
			%h1.glyphicon.glyphicon-cog.purplecolor
			%h4 controlled
			upload, release, and archive instructions in a simple and controlled process.
		.col-sm-6
			%h1.glyphicon.glyphicon-filter.purplecolor
			%h4 simple
			customers find the right information quickly through the use of product codes.
		.col-sm-6
			%h1.glyphicon.glyphicon-comment.purplecolor
			%h4 notifications
			provide customers with product alerts visible through the dokspot notification service.
		.col-sm-6
			%h1.glyphicon.glyphicon-map-marker.purplecolor
			%h4 contact point
			allow customers to contact manufacturers to discuss product specific questions.
		.col-sm-6
			%h1.glyphicon.glyphicon-shopping-cart.purplecolor
			%h4 orders
			customers can order a paper copy of instructions through the order management service.
		.col-sm-6
			%h1.glyphicon.glyphicon-font.purplecolor
			%h4 languages
			help your customers by making instructions available in their preferred language.