.box-top
	.lead Equally important to our terms and policies are the promises that we make to our customers.

	%br
	.lead dokspot’s promises to our customers:
	%ul.list-unstyled.lead{style: 'font-size: 16px'}
		%li
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; You own your content
		%li 
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; You are in control of what is published and what isn’t
		%li
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; The platform will continue to innovate and is in constant evolution
		%li 
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; The service meets the requirements of EU Regulations 207/2012
		%li 
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; We maintain high standards of platform and data security
		%li 
			.glyphicon.glyphicon-ok.purplecolor
			&nbsp; We’ll do everything we can to ensure the availability of your content