.box-top.lead
	%h3 Above and beyond
	.lead
		%p Equally important to our terms and policies are the promises that we make to our customers.

	%br
	%h3 dokspot’s promises to our customers:
	%ul
		%li You own your content
		%li You are in control of what is published and what isn’t
		%li The service meets the requirements of EU Regulations 207/2012
		%li We maintain high standards of platform and data security
		%li We’ll do everything we can to ensure the availability of your content to your customers