.box-top

	.lead dokspot is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional, renderings of certain components.

	%p
		Specifically, we support the 
		%strong latest versions 
		of the following browsers and platforms. On Windows,
		%strong we support Internet Explorer 8-11.
		More specific support information is provided below.

	%h3 Browser and Device Support

	.table-responsive.text-center
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%td
					%th Chrome
					%th Firefox
					%th Internet Explorer
					%th Opera
					%th Safari
			%tbody
				%tr
					%th Android
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-muted{rowspan: 3} N/A
					%td.text-danger
						%span.glyphicon.glyphicon-remove
					%td.text-muted N/A
				%tr
					%th iOS
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-muted N/A
					%td.text-danger
						%span.glyphicon.glyphicon-remove
					%td.text-success
						%span.glyphicon.glyphicon-ok
				%tr
					%th Mac OS X
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
				%tr
					%th Windows
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-success
						%span.glyphicon.glyphicon-ok
					%td.text-danger
						%span.glyphicon.glyphicon-remove

	%h3 Content Support

	%p
		dokspot content is delivered in PDF format. If you don't have a PDF reader installed on your computer, you can download it from
		%a{href: "https://get.adobe.com/reader/"} Adobe