%br
%ul.list-unstyled.visitor-nav.lead
	%li ABOUT
	%li
		= link_to 'About', about_path
	%li
		= link_to 'Business', business_path
	%br

	%li LEGAL
	%li
		= link_to 'Terms of Service', terms_path
	%li
		%a Privacy Policy
	%br

	%li CONTACT
	%li
		%a{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
	%li
		%a{ href: "tel:+12345678987" } +41 79 216 38 28