%br
%ul.list-unstyled.visitor-nav{style: 'text-weight: 200'}
	%li.h4 ABOUT
	%li.h5= link_to 'About Us', about_path, class: 'purplecolor'
	%br

	%li.h4 POLICIES
	%li.h5= link_to 'Customer Promises', promise_path, class: 'purplecolor'
	%li.h5= link_to 'Terms of Service', terms_path, class: 'purplecolor'
	<!--%li.h5= link_to 'Privacy Policy', privacy_path-->
	%br

	%li.h4 CONTACT
	%li.h5
		%a.purplecolor{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
	%li.h5
		%a.purplecolor{ href: "tel:+12345678987" } +41 79 216 38 28