- title "About"

.container-fluid.about-box-1
  .container
    .row
      .col-xs-12
        %h2.lead.purplecolor ABOUT DOKSPOT

.container
  .row
    .col-sm-9
      = render 'about'
    .col-sm-3
      = render 'visitor_nav'