- title "- Business"
.container-fluid.box.business-box-1
	.container.lead.text-center{style:'font-size: 28px;'}
		dokspot is a cloud platform that lets companies manage and distribute their documentation online - we enable organisations to switch to digital without software development and maintenance headaches.
.container-fluid.box.business-box-2
	.container
		.row
			.col-xs-12
				%h1.text-center benefits
	.container
		.row.text-center
			.col-sm-4
				%h3
					%span.glyphicon.glyphicon-euro.greenicon
					%br
					save costs
					.small improve your bottom line by going digital
			.col-sm-4
				%h3
					%span.glyphicon.glyphicon-transfer.greenicon
					%br
					be efficient
					.small refine your processes and boost productivity
			.col-sm-4
				%h3
					%span.glyphicon.glyphicon-star.greenicon
					%br
					help clients
					.small  enhance your customers experience
.container-fluid.box.business-box-3
	.container
		.row
			.col-xs-12
				%h1.text-center features
	.container.text-justify
		.row
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-cloud.greenicon
					%br
					robust
					.small built and tested for high availability to ensure that your instructions are available when they are required.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-ok.greenicon
					%br
					compliance
					.small compliant with Commission Regulation 207/2012 enabling Medical Device Manufacturers to go digital.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-cog.greenicon
					%br
					controlled
					.small upload, release, and archive instructions in a simple and controlled process.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-filter.greenicon
					%br
					simple
					.small customers find the right information quickly through the use of product codes.
		.row
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-comment.greenicon
					%br
					notifications
					.small provide customers with product alerts visible through the dokspot notification service.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-map-marker.greenicon
					%br
					contact point
					.small allow customers to contact manufacturers to discuss product specific questions.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-envelope.greenicon
					%br
					orders
					.small customers can order a paper copy of instructions through the order management service.
			.col-xs-6.col-sm-3
				%h3
					%span.glyphicon.glyphicon-font.greenicon
					%br
					languages
					.small help your customer by making instructions available in their preferred language.
.container-fluid.box.business-box-4
	.container.text-center
		.row
			.col-xs-12
				%h2.lead interested? let's talk!
		.row
			.col-xs-4
				%h2.lead
					%span.glyphicon.glyphicon-earphone
					%br
					%a.lead{ href: "tel:+12345678987" } +41 79 216 38 28
			.col-xs-4
				%h2.lead
					%span.glyphicon.glyphicon-envelope
					%br
					%a.lead{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
			.col-xs-4
				%h2.lead
					%span.glyphicon.glyphicon-pencil
					%br
					=link_to "Contact Form", about_path, class: 'lead'