.container-fluid
  .lg-margin-top.hidden-xs
  .row
    .col-xs-8.col-sm-4.col-md-4.col-lg-2.col-xs-offset-2.col-sm-offset-4.col-md-offset-4.col-lg-offset-5
      = image_tag "dokspot-circle.png"
      = simple_form_for :search, url: search_path, method: :post do |f|
        .form-group
          =f.input :query, input_html: { class: 'form-control input-lg text-center', placeholder: 'Enter Code', autofocus: true }, label: false