#launch-page
  .row
    .container.pg-empty-placeholder.lg-container.hidden-xs
    .container.pg-empty-placeholder.md-container.visible-xs
    .container-fluid{:style => "padding-top: 20px;"}
      .row
        .col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
          #search_box
            = simple_form_for :search, url: search_path, method: :post do |f|
              .input-group
                =f.input :query, input_html: { class: 'form-control search-form-input', placeholder: 'dokspot code', autofocus: true }, label: false
                %span.input-group-btn
                  %button.btn.search-form-input{style: "background-color: none; width: 82px"}
                    =image_tag 'dokspot-circle.png', style: "height: 48px"
    .container.pg-empty-placeholder