- title "Home"

#launch-page
  -#.row
    -#.container.pg-empty-placeholder.lg-container.hidden-xs
    -#.container.pg-empty-placeholder.md-container.visible-xs
  .row
    .col-xs-10.col-sm-6.col-md-4.col-xs-offset-1.col-sm-offset-3.col-md-offset-4
      #search_box
        = simple_form_for :search, url: search_path, method: :post do |f|
          .input-group
            =f.input :query, input_html: { class: 'form-control search-form-input', placeholder: 'dokspot code', autofocus: true }, label: false
            %span.input-group-btn
              %button.btn.search-form-input{style: "background-color: none; width: 82px"}
                =image_tag 'dokspot-circle.png', style: "height: 48px"
      = render 'layouts/messages'
    -#.container.pg-empty-placeholder