- title "Policies & Legal"

.container{ style: "margin-top: 50px" }
	.row
		.col-sm-3.right-border-thin
			%h2 LEGAL
			%ul.list-unstyled
				%li 
					= link_to "Terms of Service", "#", class: "text-green"
		.col-sm-9
			%h1.text-green Terms of Service
			%br
			%h4 Effective May 12, 2015
			%br
			%p The dokspot Terms and Conditions regulate the use of the dokspot service (in the following referred to as ‘SERVICE’) by third parties (in the following referred to as ‘CLIENT’) and dokspot GmbH, Freudenbergstrasse 101, 8044 Zürich, Switzerland (in the following referred to as ‘dokspot’).
			%br
			%h3 1. Service
			%h4 1.1. Purpose
			%p The SERVICE is provided for communication of information related to the use of a CLIENT product or service. dokspot will provide CLIENT with access to the SERVICE and support client with the use of the SERVICE.
			%h4 1.2. Updates
			%p dokspot may elect to update or otherwise modify the SERVICE at any time provided the provisions of article 4 of the dokspot Terms and Conditions are maintained.
			%br
			%h3 2. Term and Termination
			%p The dokspot Terms and Conditions take effect with registration of the CLIENT on the dokspot website. CLIENT may terminate the use of the SERVICE at anytime by removing CLIENT content from the SERVICE website and/or requesting termination of the SERVICE from dokspot. To protect CLIENT long-term interest the provisions in 4.7 and 4.8 of the dokspot Terms and Conditions apply in regard to any termination.
			%br
			%h3 3. Compliance with regulations and confidential information
			%p Each party shall comply with applicable laws and regulations. The SERVICE is exclusively intended for communication related to the use of products or services. No personal data shall be communicated via the SERVICE. Each party will take the technical and organizational security measures, including confidentiality, as required by applicable laws.
			%br
			%h3 4.dokspot responsibilities
			%p dokspot maintains the SERVICE and ensures accessibility for CLIENT and third parties. Specifically dokspot has the following obligations:
			%ul.list-unstyled
				%li 4.1. Ensure access to the SERVICE via the internet 
				%li 4.2. Ensure SERVICE access for designated CLIENT users
				%li 4.3. Ensure that CLIENT can publish and unpublish content on the SERVICE anytime
				%li 4.4. Ensure SERVICE access for third parties to CLIENT content
				%li 4.5. Ensure the function of the SERVICE
				%li 4.6. Ensure that client content is protected from alteration through external sources
				%li 4.7. On requested of the CLIENT maintain the CLIENT content on the SERVICE for a period of up to 20 years in a defined status. Fees as set out in article 6 of this Agreement shall apply for the requested period.
				%li 4.8. Guarantee availability of uploaded content for a minimum time period of 2 years independent of any fee payments outlined under paragraph 6 of the dokspot Terms and Conditions. The Impossibility of Performance clause of article 10 of the dokspot Terms and Conditions applies.
				%li 4.9. Maintain a quality control system and ensure compliance with this system
			%br
			%h3 5. CLIENT responsibilities
			%p CLIENT uploads content to the SERVICE under special consideration of provisions in article 3 of the dokspot Terms and Conditions. Content is defined as information concerning the use of CLIENT products or services. Specifically CLIENT has the following obligations:
			%ul.list-unstyled
				%li 5.1. Provide and upload content to SERVICE in the specified format
				%li 5.2. Warrant that content uploaded to the SERVICE is professional in formulation and format and does not violate any laws
				%li 5.3. Warrant that all content uploaded to the SERVICE is developed and fully owned by CLIENT
				%li 5.4. Warrant that only content related to the use of CLIENT products is uploaded to the SERVICE
				%li 5.5. Ensure alignment between content uploaded to the SERVICE and the related CLIENT product or service
				%li 5.6. Warrant that content uploaded to the SERVICE complies with applicable regulations 
				%li 5.7. Warrant that content uploaded to the SERVICE meets all copyright and trademark obligations
				%li 5.7. Warrant that no personal data of individuals or groups of individuals of any kind is uploaded to SERVICE
			%br
			%h3 6. Fees
			%p CLIENT agrees to pay fees according to the dokspot fee structure. Fees are due at registration of a new dokspot code and payable in 6 months intervals. If CLIENT fails to pay fees, dokspot is entitled to terminate CLIENT access to the SERVICE 60 days after payment due date. dokspot warrants that existing CLIENT content remains unchanged and fully accessible to third parties for a period of at least 2 years after the last fee payment.
			%br
			%h3 7. CLIENT proprietary rights
			%p CLIENT owns and continues to own all uploaded content including its features, patents, trademarks and other intellectual property rights therein, all copyrights as uploaded by CLIENT to the SERVICE. dokspot does not have or obtain any rights on the content uploaded to the SERVICE by CLIENT.
			%br
			%h3 8. dokspot proprietary rights
			%p dokspot owns all right, title and interest to the SERVICE, program, design, documentation and other features and parts thereof, and including all copyrights, patents, trade secret rights, trademarks and other intellectual property rights therein related to the SERVICE.
			%br
			%h3 9. Limitation of liability
			%p dokspot is not responsible or liable for the content CLIENT uploads to the SERVICE. It is and remains the sole responsibility and liability of CLIENT to meet the obligations described in article 5 of the dokspot Terms and Conditions, and ensure regulatory and legal compliance of the uploaded content. Apart from the responsibilities listed in article 4 of the dokspot Terms and Conditions, dokspot does not make any claim in regard to delivery of content through the SERVICE to third parties. It is the sole responsibility of CLIENT to evaluate if the provisions described in article 4 of the dokspot Terms & Conditions meet the requirements for sufficient information per­taining the safe use of CLIENT product or service by intended third parties. CLIENT specifically acknowledges that neither dokspot nor the SERVICE do in any way relieve CLIENT from the responsibility of ensuring the safe and intended use of CLIENT product or service. CLIENT maintains full respon­sibility to evaluate and decide which means are required to sufficiently communicate instruction for use for the CLIENT product or service.
			%br
			%h3 10. Miscellaneous
			%p
				%u Entire Agreement.
				The dokspot Terms and Conditions constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes all prior and agreements, whether written or oral, of the parties, relating to such subject matter.
			%p
				%u Transfer of registration.
				dokspot is entitled to transfer the CLIENT registration or any rights and obligations thereof to any company taking over its business provided the dokspot responsibilities defined in article 4 of the dokspot Terms and Conditions remain the same.
			%p
				%u Impossibility of Performance.
				Neither party shall be liable to the other party for any loss or damage due to delays or failure to perform resulting from events beyond the reasonable control of such party.
			%p
				%u Governing Law; Venue.
				Any potential dispute relating to the registration of CLIENT on the SERVICE shall be governed by the laws of Switzerland and the place of jurisdiction shall be the city of Zürich. 
			%p
				%u Entire Agreement.
				The dokspot Terms and Conditions constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes all prior and agreements, whether written or oral, of the parties, relating to such subject matter. 