- title "Customer Promises"

.container-fluid.purple-bg
  .container
    .row
      .col-xs-12
        %h2.lead CUSTOMER PROMISES

.container
  .row
    .col-sm-8
      = render 'promise'
    .col-sm-4.hidden-xs
      = render 'visitor_nav'