- title "System Requirements"

.container-fluid.purple-bg
  .container
    .row
      .col-xs-12
        %h2.lead SYSTEM REQUIREMENTS

.container
  .row
    .col-sm-8
      = render 'requirements'
    .col-sm-4.hidden-xs
      = render 'visitor_nav'