.jumbotron.content-header
  .container.text-center
    =image_tag "dokspot-circle.png", class: "img"
    %h1 The Service
    %p Instructions. Anytime. Anywhere.
    
.container.extended-container
  .row
    .col-md-12.text-center
      %h3.lead Lorem ipsum dolor sit amet
  .row
    .col-md-4.text-center
      %img.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
      %h3 Column title
      %p.text-justify Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    .col-md-4.text-center
      %img.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
      %h3 Column title
      %p.text-justify Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    .col-md-4.text-center
      %img.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
      %h3 Column title
      %p.text-justify Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
  .row
    .col-md-12.text-center
      =link_to "Try the Demo", demo_path, class: "btn btn-default btn-lg btn-primary", style: "margin-top: 50px"
      
.container-fluid.container-colored.extended-container
  .container
    .row
      .col-md-12.text-center
        %h3.lead Lorem ipsum dolor sit amet
    .row
      .text-center.col-md-6
        %h3.lead Column title
        %p.text-justify Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %ul.media-list.text-left
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
      .text-center.col-md-6
        %h3.lead Column title
        %p.text-justify Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %ul.media-list.text-left
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
          %li.media
            %a.pull-left{:href => "#"}
              %img.media-object.img-circle{:src => "http://127.0.0.1:40000/file:///Applications/Pinegrow%20Web%20Designer.app/Contents/Resources/app.nw/placeholders/img2.jpg", :width => "100"}/
            .media-body
              %h4.media-heading Media heading
              %ul
                %li Lorem ipsum dolor sit amet
                %li Consectetur adipiscing elit
                %li Integer molestie lorem at massa
                %li Integer molestie lorem at massa
                
.container.extended-container
  .row
    .col-md-12.text-center
      %h3.lead interested? let's talk!
  .row
    .text-center.col-md-4
      %span.glyphicon.glyphicon-phone-alt{:style => "font-size: 32px;"}
      %br
      %a.lead{ href: "tel:+12345678987" } +12345678987
    .text-center.col-md-4
      %span.glyphicon.glyphicon-envelope{:style => "font-size: 32px;"}
      %br
      %a.lead{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
    .text-center.col-md-4
      %span.glyphicon.glyphicon-pencil{:style => "font-size: 32px;"}
      %br
      =link_to "Contact Form", about_path, class: 'lead'