- title "Terms of Service"

.container-fluid.about-box-1
  .container
    .row
      .col-xs-12
        %h2.lead.purplecolor TERMS OF SERVICE

.container
  .row
    .col-sm-8
      = render 'terms'
    .col-sm-4.hidden-xs
      = render 'visitor_nav'