- product.notifications.published.each do |notification|
  .alert.alert-dismissible{class: "alert-#{notification.category}"}
    %button.close{data: {dismiss: "alert"}}
      %span &times;
      %span.sr-only Close
    = notification.content