= render 'breadcrumbs'

.row.xs-margin-top
  .col-xs-12.col-sm-8.col-md-6.col-lg-4.col-sm-offset-2.col-md-offset-3.col-lg-offset-4
  
    .panel.panel-default

      .panel-heading
        %h1.panel-title New version
          
      .panel-body
        = render 'form'