/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
 

.xs-margin-top      { margin-top:     20px    }
.lg-margin-top      { margin-top:     200px   }
.center-horizontal  { vertical-align: middle  }
.gray-bg            { background-color: rgb(54, 59, 63) }
.qrcode             { height: 200px; width: 200px;  }
.image-header       { background-color: rgb(54, 59, 63); padding-top: 20px; padding-bottom: 20px; margin-bottom: 50px; }

.xs-padding-bottom  { padding-bottom: 20px; }

.dokspot-mail { 
  background-image:     asset-data-url("dokspot-mail.png");
  background-repeat:    no-repeat;
  background-position:  center;
  height:               50px;
  width:                auto;
  margin-top:           20px;
}