

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

@import "bootstrap";

$footer-height: 240px;

.xs-margin-top
{
    margin-top: 20px;
}

.lg-margin-top
{
    margin-top: 300px;
}

.center-horizontal
{
    vertical-align: middle;
}

.gray-bg
{
    background-color: rgb(54, 59, 63);
}

.qrcode
{
    height: 200px;
    width: 200px;
}

.image-header
{
    background-color: rgb(54, 59, 63);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.xs-padding-bottom
{
    padding-bottom: 20px;
}

.dokspot-mail
{
    background-image: asset-data-url("dokspot-mail.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: auto;
    margin-top: 20px;
    visibility: visible;
}

.content-header
{
    background-color: #0071bc;
    color: #fff;
}

.container-colored
{
    background-color: rgba(0, 113, 188, 0.4);
}

.extended-container
{
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-container
{
    background-color: #222;
}

.lg-container
{
  height: 200px;
}

.md-container
{
  height: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 51px;
}

/* Set the fixed height of the footer here */
/* Negative indent footer by it's height */

@media(max-width: 767px){
  #push,
  #footer {
    height: 290px;
  }
  
  #wrap {
    margin: 0 auto -290px;
  }
}

@media(min-width: 768px){
  #push,
  #footer {
    height: 310px;
  }
  
  #wrap {
    margin: 0 auto -310px;
  }
}

@media(min-width:992px){
  #push,
  #footer {
    height: 240px;
  } 
  
  #wrap {
    margin: 0 auto -240px;
  }
}

/* Pinegrow Styles */

.content-header
{
  background-color: #0071bc !important;
  color: #fff !important;
}

.container-colored
{
    background-color: rgba(0, 113, 188, 0.4);
}

.extended-container
{
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-container
{
  margin-top: 50px;
    background-color: #222;
}

.lg-container
{
  height: 250px;
}

.md-container
{
  height: 140px;
}

#launch-page {
  background-color: #363b3f; 
}