

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

@import "bootstrap";

//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);

$footer-height: 50px;

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.xs-margin-top
{
    margin-top: 20px;
}

.lg-margin-top
{
    margin-top: 300px;
}

.center-horizontal
{
    vertical-align: middle;
}

.gray-bg
{
    background-color: rgb(54, 59, 63);
}

.qrcode
{
    height: 200px;
    width: 200px;
}

.image-header
{
    background-color: rgb(54, 59, 63);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.xs-padding-bottom
{
    padding-bottom: 20px;
}

.dokspot-mail
{
    background-image: asset-data-url("dokspot-mail.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: auto;
    margin-top: 20px;
    visibility: visible;
}

.content-header
{
    background-color: #68C7EC;
    color: #fff;
}

.container-colored
{
    background-color: rgba(0, 113, 188, 0.4);
}

.extended-container
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-container
{
    //background-color: #222;
}

.md-container
{
  height: 100px;
}

#footer
{
  //border-top-style: solid;
  //border-top-width: 1px;
  //border-top-color: #e7e7e7;
  //border-bottom: thin solid #d9d9d9;
  border-top: thin solid #d9d9d9;
  font-size: 12px !important;
  padding-top: 15px;
  margin-top: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 51px;
  //padding-bottom:
}

/* Set the fixed height of the footer here */
/* Negative indent footer by it's height */

@media(max-width: 767px){
  #push,
  #footer {
    height: 50px;
  }
  
  #wrap {
    margin: 0 auto -65px;
  }
}

@media(min-width: 768px){
  #push,
  #footer {
    height: 50px;
  }
  
  #wrap {
    margin: 0 auto -65px;
  }
}

@media(min-width:992px){
  #push,
  #footer {
    height: 50px;
  } 
  
  #wrap {
    margin: 0 auto -65px;
  }
}

/* Pinegrow Styles */

.content-header
{
  background-color: #00A0DC !important;
  color: #fff !important;
}

.container-colored
{
    background-color: rgba(0, 0, 0, 0.03);
}

.extended-container
{
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-container
{
  //margin-top: 50px;
  //background-color: #222;
  border-top: thin solid #d9d9d9;
  font-size: 12px !important;
  //padding-top: 5px;
}

.lg-container
{
  height: 250px;
}

.md-container
{
  height: 140px;
}

#launch-page {
  //background-color: #363b3f; 
}

.subcontainer
{
    background-color: #00A0DC;
    color: #fff;
}
/*
#search_box {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.5;
  background-color: white;
  padding: 10px;
}
*/

.bottom-align-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.search-form-input
{
    background-color: white !important;
    border-color: #7C5BBB !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    height: 82px !important;
    font-size: 28px !important;
    font-weight: 200;
}

.vertical-center
{
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.right-border-thin
{
  border-right: thin solid rgb(231, 231, 231);
}

.text-green {
  color: #7CB82F;
}

.feature-box {
  height: 180px;
  width: 180px;
  border: thin solid rgba(160, 163, 166, 0.4);
  border-radius: 10px;
  padding: 10px;
  color: rgba(160, 163, 166, 0.4);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-position: center center;
}

.feature-box:hover {
  border: thin solid #7CB82F;
  color: #7CB82F;
  background-color: rgba(199, 229, 154, 0.2);
}

#robust {
  background-image: asset-data-url("robust.png");
}
#compliance {
  background-image: asset-data-url("compliance.png");
}
#controlled {
  background-image: asset-data-url("controlled.png");
}
#notifications-icon {
  background-image: asset-data-url("notifications.png");
}
#contact {
  background-image: asset-data-url("contact.png");
}
#orders {
  background-image: asset-data-url("orders.png");
}
#languages {
  background-image: asset-data-url("languages.png");
}
#simplicity {
  background-image: asset-data-url("simplicity.png");
}

.policy-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.box {
  padding: 40px 0px 40px 0px;
  border-top: thin solid #d9d9d9;
}

.purplecolor {
  color: #7C5BBB !important;
}

.visitor-nav {
  border-left: thin solid #d9d9d9;
  padding-left: 72px !important;
}

.box-top {
  padding: 80px 0px 80px 0px;
}

.business-top-box {
  background-color: #7C5BBB; 
  color: #ffffff;
  padding-right: 80px !important;
  padding-left: 80px !important;
}

.purple-bg {
  background-color: #7C5BBB !important;
  color: #FFFFFF !important;
}