-# if controller_name != 'visitors'
  -#%div{ style: "padding-top: 40px" }

#footer.container-fluid.footer-container{:style => "padding-top: 20px"}
  .container
    -#.row
      -#.col-xs-6.col-xs-offset-3
        -#=image_tag 'dokspot-footer.png', class: 'img-responsive'
    .row.text-uppercase{:style => "margin-top: 20px; font-size: 12px; font-weight: 500;"}
      .col-xs-6.col-sm-4.pull-left
        %ul.list-inline
          %li
            =image_tag 'dokspot-mail.png', class: 'img-responsive', style: "max-width: 128px"
      .col-xs-4.text-center.hidden-xs
        %ul.list-inline
          %li
            © 2015 ALL RIGHTS RESERVED.
      .col-xs-6.col-sm-4.pull-right.text-right
        %ul.list-inline
          %li
            =link_to 'Business', service_path, style: 'color: #777 !important'
          %li
            =link_to 'About', about_path, style: 'color: #777 !important'