#footer.container-fluid.footer-container{:style => "padding-top: 20px"}
  .container
    .row
      .col-md-12.text-center
        =image_tag 'dokspot-footer.png', class: 'img', style: "width: 100 !important"
    .row.lead{:style => "margin-top: 20px"}
      .text-center.col-md-3
      .text-center.col-md-6
        .row{style: 'font-size: 14px'}
          .col-md-4
            =link_to 'Home', root_path, style: 'color: #777 !important'
          .col-md-4
            =link_to 'The Service', service_path, style: 'color: #777 !important'
          .col-md-4
            =link_to 'About Us', about_path, style: 'color: #777 !important'
      .text-center.col-md-3
    .row
      .col-md-12.text-center
        %p 
          © 2014 dokspot GmbH. 
          %a{data: { target: "#modalTerms", toggle: "modal" }, href: "", style: "color: #777 !important" } Terms & Conditions
  
  #modalTerms.modal.fade.pg-show-modal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title.text-center Terms & Conditions
        .modal-body
          .modal-body
            %p.p1
              The dokspot Terms and Conditions regulate the use of the dokspot service (in the following referred to as ‘
              %b> SERVICE
              ’) by third parties (in the following referred to as ‘
              %b> CLIENT
              ’) and dokspot GmbH, Freudenbergstrasse 101, 8044 Zürich, Switzerland (in the following referred to as ‘
              %b> dokspot
              ’).
            %p.p1
              %b 1. Service
            %p.p1 1.1. Purpose
            %p.p1
              The SERVICE is provided for digital communication of information related to the use of a CLIENT product or service. dokspot will provide CLIENT with access to the SERVICE and provide support pertaining to the use of the SERVICE.
              %br/
            %p.p1 1.2 Changes to service
            %p.p1
              dokspot may elect to update or otherwise modify the SERVICE at any time provided the provisions of article 4 of the dokspot Terms and Conditions are maintained.
              %br/
            %p.p1
              %b 2. Term and termination
            %p.p1 The dokspot Terms and Conditions take effect with registration of the CLIENT on the dokspot website. CLIENT may terminate the use of the SERVICE at anytime by removing CLIENT content from the SERVICE website and/or requesting termination from dokspot in writing. To protect CLIENT long-term interest the provisions in 4.7 of the dokspot Terms and Conditions apply in regard to termination. If CLIENT fails to pay fees as set out in article 6 of the dokspot Terms and Conditions, dokspot is entitled to terminate CLIENT access to the SERVICE 20 days after payment due date.
            %p.p1
              %b 3. Compliance with regulations and confidential information
            %p.p1 Each party shall comply with applicable laws and regulations. The SERVICE is exclusively intended for communication related to the use of products or services, no personal data shall be communicated via the SERVICE. Each party will take the technical and organizational security measures, including confidentiality, as required by applicable laws.
            %p.p1
              %b 4. dokspot responsibilities
            %p.p1 dokspot maintains the SERVICE and ensures accessibility for CLIENT and third parties. Specifically dokspot has and guarantees to CLIENT the following obligations:
            %p.p1 4.1. Ensure access to the SERVICE via the internet
            %p.p1 4.2. Ensure SERVICE access for designated CLIENT users
            %p.p1 4.3. Ensure that CLIENT can publish and unpublish content on the SERVICE anytime
            %p.p1 4.4. Ensure SERVICE access for third parties to CLIENT content
            %p.p1 4.5. Ensure the function of the SERVICE
            %p.p1 4.6. Ensure that client content is protected from alteration through external sources
            %p.p1 4.7. On requested of the CLIENT maintain the CLIENT content on the SERVICE for a period of up to 10 years in a defined status. Fees as set out in article 6 of this Agreement shall apply for the requested period.
            %p.p1
              %b 5. CLIENT responsibilities
            %p.p1 CLIENT uploads content as defined in article 1 to the SERVICE under consideration of provisions in article 3. Content is defined as information concerning the use of CLIENT products or services. Specifically CLIENT has the following obligations:
            %p.p1 5.1. Provide and upload content to SERVICE in the specified format
            %p.p1 5.2. Warrant that content is professional in formulation and format
            %p.p1 5.3. Warrant that all content is developed and fully owned by CLIENT
            %p.p1 5.4. Warrant that only content related to the use of CLIENT products is uploaded
            %p.p1 5.5. Ensure alignment between uploaded CLIENT content and the related CLIENT product or service
            %p.p1 5.6. Warrant that content complies with applicable regulations and laws and meets copyright and trademark obligations
            %p.p1 5.7. Warrant that no personal data is uploaded to SERVICE
            %p.p1
              %b 6. Fees
            %p.p1 CLIENT agrees to pay fees according to the dokspot fee structure published on the SERVICE web site (www.dokspot.com). Fees are due at registration and payable for the specified period within 20 days. If CLIENT fails to pay fees, dokspot is entitled to terminate CLIENT access to the SERVICE 10 days after payment due date.
            %p.p1
              %b
                7. CLIENT proprietary rights
                %br/
            %p.p1
            %p{:dir => "ltr", :style => "margin-top: 0pt; margin-bottom: 0pt; margin-left: 14pt; line-height: 1.15; text-indent: -14pt; text-align: justify;"}
            %p.p1 CLIENT owns and continuous to own all uploaded content including its features, patents, trademarks and other intellectual property rights therein, all copyrights as uploaded by CLIENT to the SERVICE. dokspot does not have or obtain any rights on the content uploaded to the SERVICE by CLIENT.
            %p.p1
              %b 8. dokspot proprietary rights
            %p.p1 dokspot owns all right, title and interest to the SERVICE, design, documentation and other features and parts thereof, and including all copyrights, patents, trade secret rights, trademarks and other intellectual property rights therein related to the SERVICE.
            %p.p1
              %b 9. Limitation of liability
            %p.p1 dokspot is not responsible or liable for the content CLIENT uploads to the SERVICE. It is the sole responsibility and liability of CLIENT to meet the obligations described in article 5 of the dokspot Terms and Conditions, and ensure regulatory and legal compliance of the uploaded content. Apart from the responsibilities listed in article 4 of the dokspot Terms and Conditions, dokspot does not make any claim in regard to delivery of content through the SERVICE to third parties. It is the sole responsibility of CLIENT to evaluate if the dokspot responsibilities described in article 4 meet requirements for sufficient information per­taining the use of CLIENT product or service by intended third parties. CLIENT specifically acknowledges that neither dokspot nor the SERVICE do in any way relieve CLIENT from the responsibility of ensuring the intended use of CLIENT product or service. CLIENT maintains full respon­sibility to evaluate and decide which means are required to sufficiently communicate instruction for use for the CLIENT product or service.
            %p.p1
              %b 10. Miscelllaneous
            %p.p1
              %i Entire Agreement.
               The dokspot Terms and Conditions constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes all prior and agreements, whether written or oral, of the parties, relating to such subject matter.
            %p.p1
              %i Transfer of registration.
               dokspot is entitled to transfer the CLIENT registration or any rights and obligations thereof to any company taking over its business provided the dokspot responsibilities defined in article 4 of the dokspot Terms and Conditions remain the same.
            %p.p1
              %i Impossibility of Performance.
               Neither party shall be liable to the other party for any loss or damage due to delays or failure to perform resulting from events beyond the reasonable control of such party.
            %p.p1
              %i Governing Law; Venue.
              Any potential dispute relating to the registration of CLIENT on the SERVICE shall be governed by the laws of Switzerland and the place of jurisdiction shall be the city of Zürich.